<div class="container">
<div class="header">
  <h1>My To Do List</h1>
    <div class="taskInput">
      <mat-form-field>
        <mat-label>New Task</mat-label>
        <input matInput #taskinput placeholder="new task" #input>
      </mat-form-field>
      <button mat-button class="add_btn" mat-button type="button" (click)='add()'>
        <mat-icon>library_add</mat-icon>
        Add</button>
  </div>
</div>
  <div class="tasks">
    <h3 class="done_undone">To Do</h3>
    <app-TodoItem *ngFor="let item of list.list | taskfilter:false" [item]="item">
    </app-TodoItem>
  </div>
  <div class="tasks">
  <h3 class="done_undone" >Done</h3>
  <app-TodoItem *ngFor="let item of list.list | taskfilter:true" [item]="item">
  </app-TodoItem>
</div>
</div>