<div class="TaskInput">
<mat-form-field>
  <mat-label>Nazwa Taska</mat-label>
  <input matInput #taskinput placeholder="nowy task" #input>
</mat-form-field>
<button mat-button type="button" (click)='add()'>Add</button>
</div>
<div class="container">
  <div class="tasks">
    <h3>To Do</h3>
    <app-TodoItem *ngFor="let item of list.list | taskfilter:false" [item]="item">
    </app-TodoItem>
  </div>
  <div class="tasks">
  <h3>Done</h3>
  <app-TodoItem *ngFor="let item of list.list | taskfilter:true" [item]="item">
  </app-TodoItem>
</div>
</div>